<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"  >
    <meta http-equiv="Content-Script-Type" content="text/javascript"  >
    <meta name="apple-mobile-web-app-capable" content="yes"  >
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <title><%= htmlWebpackPlugin.options.title %></title>
    
    <script>
      var SC_benchmarkPreloadEvents = { headStart: new Date().getTime() };
      var docElem = window.documentElement || document.documentElement;
      if (docElem) {
          docElem.className = docElem.className.replace(/(^|\s)no-js(\s|$)/, '$1js$2');
          docElem = null;
      }
    </script>

    <script>
      window.SC = window.SC || { MODULE_INFO: {}, LAZY_INSTANTIATION: {} };
      SC.benchmarkPreloadEvents = {};
    </script>
    <script>
      SC.benchmarkPreloadEvents['headEnd'] = new Date().getTime();
    </script>
  <%= htmlWebpackPlugin.tags.headTags %>
  </head>
  <body>
    <script>
      SC.benchmarkPreloadEvents['bodyStart'] = new Date().getTime();
    </script>
    <div id="loading">
      <%= loading %>
    </div>
    <script type="text/javascript">
      SC.buildNumber = "<%= compilation.fullHash%>";

      window.sc_require = function () {};
    </script>
    <%= htmlWebpackPlugin.tags.bodyTags %>

    <script>
      if (SC.routes) {
          SC.routes.wantsHistory = true;
      }
    </script>

    <!-- Start SproutCore on Page Load -->
    <script type="text/javascript">window.onload = SC.didLoad;</script>

    <script>
        SC.benchmarkPreloadEvents['bodyEnd'] = new Date().getTime();
    </script>
  </body>
</html>